<section>
<div class="card">
   <h4 class="card-header text-uppercase">Create New Post</h4>
    <form id="new-post-form" class="card-body">
      <div>
        <label class="form-label" for="post-title">Title</label>
        <input class="form-input-login"type="text" id="post-title" name="post-title" autofocus="true"/>
      </div>
      <div>
        <label class="form-label" for="post-content">Content</label>
        <textarea class="form-input" type="text" id="post-content" name="post-content"></textarea>
      </div>
      <button type="submit" class="btn-login">Create</button>        
    </form>
    <a href="/dashboard-list"><ion-icon name="arrow-back-outline"></ion-icon>Back</a>
  </div>  
  </section>


<script src="/javascript/add-post.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
