

<div class="card">
   <h4 class="card-header text-uppercase">Login</h4>
    <form id="login-form" class="card-body">
      <div>
        <label class="form-label" for="email-login">Email:</label>
        <input class="form-input-login"type="text" id="email-login" autofocus="true"/>
      </div>
      <div>
        <label class="form-label" for="password-login">Password:</label>
        <input class="form-input-login" type="password" id="password-login" />
      </div>
      <button type="submit" class="btn-login">login!</button>        
    </form>
    <a href="/signup" class="form-a">Sign up instead</a>
</div>
</form>

<script src="/javascript/login.js"></script>