  <div class="profile-page">
   <h4 class="card-header text-uppercase">My Profile</h4>
    <form id="profile" class="card-body">
           <div>
        <label class="form-label" for="profile-name">Name:</label>
        <input class="form-input-profile" type="email" id="email-signup" autofocus="true"/>
      </div>
      <div>
        <label class="form-label" for="profile-age">Age:</label>
        <input class="form-input-profile"type="text" id="profile-age" />
      </div> 
      <div>
        <label class="form-label" for="profile-height">Height:</label>
        <input class="form-input-profile" type="password" id="profile-height" />
      </div>
      <div>
        <label class="form-label" for="profile-weight">Weight:</label>
        <input class="form-input-profile" type="weight" id="profile-weight" />
      </div>
      <div>
        <label class="form-label" for="favorite-workout">Favorite Workout:</label>
        <input class="form-input-profile" type="password" id="favorite-workout" />
      </div>
      <button type="submit" class="btn-save">Save Profile!</button>        
    </form>
    <a href="/login" class="form-a">Login instead</a>
</div>
</form>
<script src="/javascript/signup.js"></script>