  <div class="card">
   <h4 class="card-header text-uppercase">Sign Up</h4>
    <form id="signup-form" class="card-body">
           <div>
        <label class="form-label" for="email-signup">Email:</label>
        <input class="form-input-login" type="email" id="email-signup" autofocus="true"/>
      </div>
      <div>
        <label class="form-label" for="username-signup">Username:</label>
        <input class="form-input-login"type="text" id="username-signup" />
      </div> 
      <div>
        <label class="form-label" for="password-signup">Password:</label>
        <input class="form-input-login" type="password" id="password-signup" />
      </div>
      <button type="submit" class="btn-login">Sign Up!</button>        
    </form>
    <a href="/login" class="form-a">Login instead</a>
</div>
</form>
<script src="/javascript/signup.js"></script>