{{#if workout.length}}
<section>
  <h2>Your workouts</h2>
  <ul>
    {{#each workouts as | workout|}}
    <li> 
           
        <div class="card">
           <h3 class="card-header">{{workout_title}}
               <P>{{exercise.exercise_title}}</P>
          <span class="head-style">Posted by {{user.username}} on {{format_date created_at}}</span>
            </h3>
      </div>
    <
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<div style="text-align: center;">
  <a href="/dashboard">
<button type="button" class="btn-post"><ion-icon name="add-outline"></ion-icon>New Post</button>
  </a>
</div>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>